<div class="container">
  <div class="background-img">
      <div class="row sign-in-text">
        <div class="col-xs-4 col-xs-offset-4 text-center center-login">
          <div class="panel my-panel">
            <div class="panel-header">
              Sign In
            </div>
            <div class="panel-body">
              <div clas="row">
                <div class="col-xs-12 text-center add-padding">
                  <button type="button" class="btn btn-primary btn-login" (click)="login()">Sign in with Google</button>
                </div>
              </div>
              <div clas="row">
                <div class="col-xs-12 text-center add-padding">
                  Student?! <br/> Click below to take the test!
                </div>
              </div>
              <div clas="row">
                <div class="col-xs-12 text-center add-padding">
                  <button type="button" class="btn btn-primary btn-login" (click)="moving()">Take Test</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  
  