<div class="container-fluid">
    <h1 class="font">Welcome Professor!</h1>
    <h3 class="text-center height">Please choose among the following options</h3>
    <div class="row" >
        <div class="col-sm"></div>
        <div class="col-sm"></div> 
      <div class="col-sm">
          <button (click)="quiz()" class="btn btn-primary btn-block" >Creat New Quiz!</button>
      </div>
      <div class="col-sm"> 
        <button (click)="result()" class="btn btn-primary btn-block" >Check Results!</button>
      </div>
      <div class="col-sm"></div>
      <div class="col-sm"></div>
    </div>
  </div>
  